.positioner {
  z-index: 9999;
}

.popup {
  max-width: 20rem;
  padding: 0.5rem 0.75rem;
  font-size: 0.875rem;
  color: var(--primary);
  background-color: var(--mix-card-33-bg);
  border-radius: var(--radius);
  box-shadow:
    0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  transition:
    transform 0.125s ease-out,
    opacity 0.125s ease-out;
  transform-origin: var(--transform-origin);
  word-wrap: break-word;
  position: relative;
  margin-bottom: 0.25rem;
  border: 0.5px solid oklch(from var(--border) l c h / 0.7);

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
    transform: scale(0.97);
  }

  &[data-instant] {
    transition-duration: 0ms;
  }
}

.arrow {
  position: absolute;
  width: 20px;
  height: 10px;
  z-index: 1;

  &[data-side="top"] {
    bottom: -8px;
    transform: rotate(180deg);
  }

  &[data-side="bottom"] {
    top: -8px;
    transform: rotate(0deg);
  }

  &[data-side="left"] {
    right: 8px;
    transform: rotate(90deg);
  }

  &[data-side="right"] {
    left: -8px;
    transform: rotate(-90deg);
  }

  svg {
    width: 100%;
    height: 100%;
    display: block;
  }
}

.arrowFill {
  fill: var(--mix-card-33-bg);
}

.arrowOuterStroke {
  fill: oklch(from var(--border) l c h / 0.6);
}

.arrowInnerStroke {
  fill: oklch(from var(--border) l c h / 0.1);
}
