.root {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5rem;
  width: 100%;
}

.label {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.875rem;
  line-height: 1;
  font-weight: 500;
}

.description {
  font-size: 0.75rem;
  color: hsl(var(--muted-foreground));
}

.error {
  font-size: 0.75rem;
  color: hsl(var(--destructive));
}

