.root {
  display: inline-block;
}

.trigger {
  &:focus-visible {
    outline: 2px solid var(--ring);
    outline-offset: 2px;
  }

  &[data-popup-open] {
    background-color: var(--muted);
    color: var(--foreground);
  }

  @media (hover: hover) {
    &[data-popup-open]:hover {
      background-color: var(--muted);
      color: var(--foreground);
    }
  }

  &[data-disabled] {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.positioner {
  z-index: 150;
  position: absolute;
  left: 0;
}

.popup {
  min-width: 170px;
  background-color: var(--popover);
  border: 0.5px solid oklch(from var(--border) l c h / 0.8);
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  box-shadow: var(--shadow-border-stack);
  transform-origin: "top center";
  transition:
    transform 250ms var(--ease-out-expo),
    opacity 250ms var(--ease-out-expo);

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
    transform: scale(0.95);
  }
}

.seperatorWrapper {
  padding: 5px 0;
}

.separator {
  height: 1px;
  border-bottom: 0.5px solid oklch(from var(--border) l c h / 0.8);
}

.item {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding-inline: 8px 6px;
  font-weight: 400;
  height: 32px;
  font-size: 0.875rem;
  line-height: 1.2;
  color: var(--foreground);
  cursor: pointer;
  justify-content: flex-start;
  margin: 0rem;
  position: relative;
  isolation: isolate;

  &:not(:has(.icon)) {
    padding-left: 12px;
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0 4px;
    border-radius: calc(var(--radius) - 4px);
    background-color: transparent;
    z-index: -1;
  }

  &[data-popup-open]::before,
  &[data-highlighted]::before,
  &:hover::before,
  &:focus::before {
    background-color: var(--accent);
  }

  &:focus,
  &:focus-visible {
    outline: none;
  }

  &[data-disabled] {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background: transparent;
    }
  }

  &:hover {
    & > .icon,
    & .icon {
      color: var(--secondary-foreground);
      opacity: 1;
    }
  }

  &[data-variant="destructive"]:hover,
  &[data-variant="destructive"][data-highlighted] {
    color: var(--destructive);

    & .icon {
      color: var(--destructive);
    }
  }
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--muted-foreground);
  margin-left: 4px;
}

.submenuTrigger {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding-inline: 8px 6px;
  font-weight: 400;
  height: 32px;
  font-size: 0.875rem;
  line-height: 1.2;
  color: var(--foreground);
  cursor: pointer;
  justify-content: flex-start;
  margin: 0rem;
  position: relative;
  isolation: isolate;

  &::before {
    content: "";
    position: absolute;
    inset: 0 4px;
    border-radius: calc(var(--radius) - 4px);
    background-color: transparent;
    z-index: -1;
  }

  &[data-popup-open]::before,
  &[data-highlighted]::before,
  &:hover::before {
    background-color: oklch(from var(--accent) l c h / 0.7);
  }

  &:focus,
  &:focus-visible {
    outline: none;
  }

  &:hover {
    & .submenuIcon {
      color: var(--secondary-foreground);
    }
  }
}

.arrow {
  fill: var(--background);
  stroke: var(--border);
  stroke-width: 1px;
}

.submenuIcon {
  margin-left: auto;
  height: 1rem;
  width: 1rem;
  color: var(--muted-foreground);
  opacity: 0.6;
}

.radioIndicator {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--muted-foreground);
  margin-left: auto;
  flex-shrink: 0;
}
